<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="hadrian-servlet">
    <Appenders>
        <RollingFile name="RollingFile" fileName="/tmp/logging.log" filePattern="/tmp/logging-%i.log.gz">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
