<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load-pfa</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.LoadPfa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load-pfa-from-yaml</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.LoadPfaFromYaml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change-number-of-instances</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.ChangeNumberOfInstances</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>increase-number-of-instances</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.IncreaseNumberOfInstances</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>decrease-number-of-instances</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.DecreaseNumberOfInstances</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attach-file-input</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.AttachFileInput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attach-file-output</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.AttachFileOutput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>input-loop-on</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.InputLoopOn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>input-loop-off</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.InputLoopOff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>set-default-timeout</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.SetTimeout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>set-default-pfa-version</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.SetPfaVersion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>snapshot</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.Snapshot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stream-logfile</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.StreamLogfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get-performance-statistics</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.GetPerformanceStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reset-performance-statistics</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.ResetPerformanceStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get-memory-usage</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.GetMemoryUsage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get-sampling-profiler</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.GetSamplingProfiler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reset-sampling-profiler</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.ResetSamplingProfiler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>install-residuals</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.InstallResiduals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>install-confusion-matrix</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.InstallConfusionMatrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get-data-quality</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.GetDataQuality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reset-data-quality</servlet-name>
        <servlet-class>com.opendatagroup.hadrian.servlet.commands.ResetDataQuality</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load-pfa</servlet-name>
        <url-pattern>/load-pfa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load-pfa-from-yaml</servlet-name>
        <url-pattern>/load-pfa-from-yaml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change-number-of-instances</servlet-name>
        <url-pattern>/change-number-of-instances</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>increase-number-of-instances</servlet-name>
        <url-pattern>/increase-number-of-instances</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>decrease-number-of-instances</servlet-name>
        <url-pattern>/decrease-number-of-instances</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attach-file-input</servlet-name>
        <url-pattern>/attach-file-input</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attach-file-output</servlet-name>
        <url-pattern>/attach-file-output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>input-loop-on</servlet-name>
        <url-pattern>/input-loop-on</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>input-loop-off</servlet-name>
        <url-pattern>/input-loop-off</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>set-default-timeout</servlet-name>
        <url-pattern>/set-default-timeout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>set-default-pfa-version</servlet-name>
        <url-pattern>/set-default-pfa-version</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>snapshot</servlet-name>
        <url-pattern>/snapshot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stream-logfile</servlet-name>
        <url-pattern>/stream-logfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get-performance-statistics</servlet-name>
        <url-pattern>/get-performance-statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reset-performance-statistics</servlet-name>
        <url-pattern>/reset-performance-statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get-memory-usage</servlet-name>
        <url-pattern>/get-memory-usage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get-sampling-profiler</servlet-name>
        <url-pattern>/get-sampling-profiler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reset-sampling-profiler</servlet-name>
        <url-pattern>/reset-sampling-profiler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>install-residuals</servlet-name>
        <url-pattern>/install-residuals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>install-confusion-matrix</servlet-name>
        <url-pattern>/install-confusion-matrix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get-data-quality</servlet-name>
        <url-pattern>/get-data-quality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reset-data-quality</servlet-name>
        <url-pattern>/reset-data-quality</url-pattern>
    </servlet-mapping>

</web-app>
